.change-password {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 40px;
}

.change-password main {
  width: 100%;
}

.change-password main header  {
  background-color: var(--navyBlue);
  border-radius: 15px;
  padding: 20px 50px;
  margin-bottom: 20px;
}

.change-password main header h1 {
  line-height: 2rem;
  width: 100%;
  margin-bottom: 10px;
}

.change-password main header h1 span{
  color: var(--aquaGreen);
}

.change-password main header p {
  color: var(--whiteGray);
}

.change-password main header img {
  height: 250px;
}

.change-password main .profile-container {
  background-color: var(--navyBlue);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.change-password main .profile-container .img-container {
  height: 100px;
  width: 100px;
  height: 120px;
  width: 120px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 50%;
  background-color: #F0F0F0;
}

.change-password main .profile-container .img-container .img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--navyBlue);
}

.change-password main .profile-container > span {
  font-size: .8rem;
  width: 100%;
  padding: 2px 20px;
  /* text-align: center; */
}

.change-password main .profile-container > span > span {
  color: var(--aquaGreen);
}

.change-password main form hr {
  margin-top: 30px;
  border: .1px solid light gray;
}