.chooseRole {
  height: 100%;
  width: 100%;
}

.chooseRole > .header-container {
  margin: 50px;
}

.chooseRole h1 {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}

.chooseRole p {
  color: #fff;
  text-align: center;
  margin-left: 50px;
}

.chooseRole p > span {
  color: #42C9A3;
}

.chooseRole > .header-container > img {
  float: left;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.userRoleImg {
  width: 240px;
}

.studentRoleImg {
 width: 310px;
}

.teacherRoleImg {
  width: 230px;
 }

.userRoleBtn {
  margin-top: 80px !important;
}

.studentRoleBtn {
  margin-top: 70px !important;
}

.teacherRoleBtn {
  margin-top: 80px !important;
}

@media (min-width: 0px) and (max-width: 320px) {
  .userRoleImg {
    display: none;
  }
  
  .studentRoleImg {
    display: none;
  }
  
  .teacherRoleImg {
    display: none;
   }

  .userRoleBtn, .studentRoleBtn, .teacherRoleBtn {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    width: 150px !important;
    height: 30px !important;
    font-size: .6rem !important;
  }

  .chooseRole h1 {
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    line-height: 19px;
    margin-bottom: 15px;
  }

  .chooseRole p {
    color: #fff;
    text-align: center;
    margin-left: 0;
    font-size: .6rem;
    margin-bottom: -30px;
  }

  .chooseRole > .header-container > img {
    float: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 60px;
  }
}

@media (min-width: 321px) and (max-width: 599px) {
  .userRoleImg {
    display: none;
  }
  
  .studentRoleImg {
    display: none;
  }
  
  .teacherRoleImg {
    display: none;
   }

  .userRoleBtn, .studentRoleBtn, .teacherRoleBtn {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    width: 150px !important;
    height: 30px !important;
    font-size: .6rem !important;
  }

  .chooseRole h1 {
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    line-height: 19px;
    margin-bottom: 15px;
  }

  .chooseRole p {
    color: #fff;
    text-align: center;
    margin-left: 0;
    font-size: .6rem;
    margin-bottom: -30px;
  }

  .chooseRole > .header-container > img {
    float: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 60px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .userRoleImg {
    display: none;
  }
  
  .studentRoleImg {
    display: none;
  }
  
  .teacherRoleImg {
    display: none;
   }

  .userRoleBtn, .studentRoleBtn, .teacherRoleBtn {
    margin-top: 5px !important;
    width: 200px !important;
  }

  .chooseRole h1 {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin-bottom: 15px;
  }

  .chooseRole p {
    color: #fff;
    text-align: center;
    margin-left: 0;
  }

  .chooseRole > .header-container > img {
    float: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-bottom: 26px;
    margin-left: 160px;
  }

}

@media (min-width: 900px) and (max-width: 1199px) {
  .userRoleImg {
    display: none;
  }
  
  .studentRoleImg {
    display: none;
  }
  
  .teacherRoleImg {
    display: none;
   }

   .userRoleBtn, .studentRoleBtn, .teacherRoleBtn {
    margin-top: 5px !important;
    width: 300px !important;
  }

  .chooseRole > .header-container > img {
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-top: 9px;
  }
}

@media (min-width: 1200px) and (max-width: 1535px) {
  .userRoleImg {
    width: 190px;
  }
  
  .studentRoleImg {
   width: 230px;
  }
  
  .teacherRoleImg {
    width: 175px;
   }
}