
.lesson-3 {
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 40px;
  }
  
  .lesson-3 header {
    width: 100%;
    border-radius: 10px;
    padding: 15px 20px;
    background-color: var(--navyBlue);
    display: flex;
    align-items: center;
  }
  
  .lesson-3 header h1 span {
    color: var(--aquaGreen)
  }
  
  .lesson-3 header img {
    height: 70px;
    margin-left: auto;
    margin-right: 30px;
  }
  
.lesson-3 hr {
    width: 100%;
    margin: 20px 0;
  }
  
.lesson-3 main {
    width: 100%;
    height: 490px;
    max-height: 490px;
    overflow-y: auto;
  }
  
.lesson-3 main h2 span {
    color: var(--aquaGreen);
  }
  
.lesson-3 main ul li{
    list-style-type:disc ;
    margin-left: 2em;
  
  }
  .lesson-3 main .ul li{
    list-style: none;
    margin-left: 3em;
  }
 
.lesson-3 main ol li{
    margin-left: 2em;
  }
.lesson-3 main ol li{
    list-style-type:decimal;
  }
  
.lesson-3 main span {
    color: var(--aquaGreen)
  }
  
.lesson-3 main img { 
    padding-right: 1em;
  }