.admin-login {
  height: 100vh;
  width: 100vw;
  background-image: url(../../../assets/svg/login-signup.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-login .back_home {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
}

.admin-login > .container {
  height: 450px;
  width: 400px;
  background-color: #fff;
  border-radius: 20px;
  color: #182240;
  padding: 60px 60px 60px 60px;
}

.admin-login > .container > h1 > span{
  color:#43c9a3;
}

.admin-login > .container > span {
  font-weight:100;
  font-size: .9rem;
}

.admin-login > .container > h1 > img {
  height: 35px;
  width: 35px;
  float: right;
  cursor: pointer;
}

.admin-login > .container > .forgetPassword {
  display: block;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}